// style="margin: auto; width: 425px; height: 425px; background-color: lightgrey"

//fonts
@font-face {
  font-family: "Constrocktion";
  src: url('../app/fonts/constrocktion.ttf') format("truetype");
}

//font colors
$red: #fe4560;
$blue: #98b5cc;

$face: #91d4ff;
$flourish: #fff;
$shadowdots: #040351;
$shadow: #4d8bea;
$shadow2: #cbc7e3;

html,
body {
	background: #E2E2E3;
	width: 100%;
	height: 100%;
}

#main {
    width: 100%;
	height: 100%;
}

span {
    padding-top: 90px;
}
#header-background {
    min-height: 100%;
    // min-width: 50%;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

#header {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    vertical-align: middle;
    position: relative;
    color: $flourish;
    font-size: 7vw;
    // padding-top: 4%;
    // padding-bottom: 1%;
    margin-top: -2%;
    max-width: 100%;
    letter-spacing: .6rem;
    text-shadow:
	1px 1px 0 #CCC,
	2px 2px 0 #CCC, /* end of 2 level deep grey shadow */
	3px 3px 0 #444,
	4px 4px 0 #444,
	5px 5px 0 #444,
	6px 6px 0 #444; /* end of 4 level deep dark shadow */
}

.jumbotron {
    background-image: url('../img/robot-background-01-01.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 650px;
}

//moving text box
#moving-text {
padding: 2em 2em;
  font: normal 40px/50px Arial, sans-serif;
  color: $shadowdots;
}
p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
}

#move {
 display: inline-block;
color: #e74c3c;
position: relative;
white-space: nowrap;
top: 0;
left: 0;
-webkit-animation: move 5s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-delay: 1s;
}

@keyframes move {
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

#github:hover {
    color: #91d4ff;
    border-width: thick;
    border: 3px;

}
