// style="margin: auto; width: 425px; height: 425px; background-color: lightgrey"

//fonts
@font-face {
  font-family: "Constrocktion";
  src: url('../app/fonts/constrocktion.ttf') format("truetype");
}

//font colors
$red: #fe4560;
$blue: #98b5cc;

$face: #91d4ff;
$flourish: #fff;
$shadowdots: #040351;
$shadow: #4d8bea;
$shadow2: #cbc7e3;

html,
body {
	background: $shadow2;
	width: 100%;
	height: 100%;
}
#header-background {
    min-height: 100%;
    // min-width: 50%;
    max-width: 95%;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

#header {
    font-family: "Constrocktion", sans-serif ;
    min-height: 50%;
    min-width: 100%;
    text-align: center;
    vertical-align: middle;
    position: relative;
    color: $face;
    font-size: 10vw;
    // padding-top: 4%;
    padding-bottom: 1%;
    margin-top: -5%;
    letter-spacing: .6rem;
    background-image: url('../img/mix01.png');
}

.jumbotron {
    background-image: url('../img/class-photo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    // // background-blend-mode:lighten;
}

//cards
// .card-img-top {
//     display: block;
//     width: 100%;
//     height: auto;
// }

// .card {
//     font-size: 1em;
//     overflow: hidden;
//     padding: 0;
//     border: none;
//     border-radius: .28571429rem;
//     box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
// }

// .card-inverse .btn {
//     border: 1px solid rgba(0, 0, 0, .05);
// }

// .card-block {
//     font-size: 1em;
//     position: relative;
//     margin: 0;
//     padding: 1em;
//     border: none;
//     border-top: 1px solid rgba(34, 36, 38, .1);
//     box-shadow: none;
// }

// .card-text {
//     clear: both;
//     margin-top: .5em;
//     color: rgba(0, 0, 0, .68);
// }

// .card-title {
//     font-size: 1.28571429em;
//     font-weight: 700;
//     line-height: 1.2857em;
// }

// .card-footer {
//     font-size: 1em;
//     position: static;
//     top: 0;
//     left: 0;
//     max-width: 100%;
//     padding: .75em 1em;
//     color: rgba(0, 0, 0, .4);
//     border-top: 1px solid rgba(0, 0, 0, .05) !important;
//     background: #fff;
// }
//
// .card-inverse .btn {
//     border: 1px solid rgba(0, 0, 0, .05);
// }

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}
