<div class="row">
</div>
<div class="row">
	<!-- StudentProfiles.html -->
	<div ui-view="studentProfiles"></div>
</div>
<div class="row">
<div class="container techheader">
<p class="text-center techheader">
	Technologies
</p>
</div>
</div>

<div class="row">

<div class="col-md-4 colr-col6"><img src="../app/img/logo/Angular.svg" class="img-responsive img-logo"></div>
 <div class="col-md-4 colr-col2"><img src="../app/img/logo/Bootstrap.svg" class="img-responsive img-logo"></div>
 <div class="col-md-4 colr-col3"><img src="../app/img/logo/Firebase.svg" class="img-responsive img-logo"></div>
</div>
<div class="row">

<div class="col-md-4 colr-col3"><img src="../app/img/logo/Browserify.svg" class="img-responsive img-logo"></div>
 <div class="col-md-4 colr-col1"><img src="../app/img/logo/CSS3.svg" class="img-responsive img-logo"></div>
 <div class="col-md-4 colr-col5"><img src="../app/img/logo/django-plain.svg" class="img-responsive img-logo"></div>
</div>
<div class="row">

<div class="col-md-4 colr-col2"><img src="../app/img/logo/Handlebars.svg" class="img-responsive img-logo"></div>
 <div class="col-md-4 colr-col4"><img src="../app/img/logo/materialize.svg" class="img-responsive img-logo"></div>
 <div class="col-md-4 colr-col3"><img src="../app/img/logo/Trello.svg" class="img-responsive img-logo"></div>
  
</div>

<div class="row">
	<div class="container techheader">
	<p class="techheader">
		Special Thanks
	</p>
	
	</div>
	<div class="col-md-3 colr-col1 ">
	<p class="text-center">brenda</p>
	<img class="img-responsive img-logo2" src="../app/img/brenda.png">
	

	</div>
	<div class="col-md-3 colr-col3">
	<p class="text-center">steve</p>
	<img class="img-responsive img-logo2" src="../app/img/steve.png">


	</div>
	<div class="col-md-3 colr-col6">
	<p class="text-center">gilbert</p>
	<img class="img-responsive img-logo2" src="../app/img/gilbert.png">

	</div>
	<div class="col-md-3 colr-col1">
	<p class="text-center">meg</p>
	<img class="img-responsive img-logo2" src="../app/img/meg.png">
	

	</div>
		
	</div>

