<div class="row">
</div>
<div class="row">
	<!-- StudentProfiles.html -->
	<div ui-view="studentProfiles"></div>
</div>
<div class="row">
<div class="container techheader">
<h1>
	Technologies
</h1>
</div>
</div>

<div class="row">
<div class="col-md-4 colr-col1"><img src="../app/img/logo/Angular.svg" class="img-responsive img-logo"></div>
 <div class="col-md-4 colr-col2"><img src="../app/img/logo/Bootstrap.svg" class="img-responsive img-logo"></div>
 <div class="col-md-4 colr-col3"><img src="../app/img/logo/Firebase.svg" class="img-responsive img-logo"></div>
</div>
<div class="row">
<div class="col-md-4 colr-col3"><img src="../app/img/logo/Browserify.svg" class="img-responsive img-logo"></div>
 <div class="col-md-4 colr-col6"><img src="../app/img/logo/CSS3.svg" class="img-responsive img-logo"></div>
 <div class="col-md-4 colr-col4"><img src="../app/img/logo/django-plain.svg" class="img-responsive img-logo"></div>
</div>
<div class="row">
<div class="col-md-4 colr-col2"><img src="../app/img/logo/Handlebars.svg" class="img-responsive img-logo"></div>
 <div class="col-md-4 colr-col5"><img src="../app/img/logo/materialize.svg" class="img-responsive img-logo"></div>
 <div class="col-md-4 colr-col3"><img src="../app/img/logo/Trello.svg" class="img-responsive img-logo"></div>
  
</div>
