<div class="row">
	<div class="col-xs-4" 
			 ng-repeat="student in studentList">

		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 thumbnail" style="margin: auto; width: 50px; height: 50px; background-color: lightgrey"></div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h3>{{student.name}}</h3>
				<p><a href="{{student.website}}">website</a></p>
				<p>linkedIn: {{student.linkedin}}</p>
				<p>github: {{student.github}}</p>
			</div>
		</div>		
	</div>
</div>